main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#guess {
  width: 5em;
}

#reset {
  margin: 20px;
}

#under-zero, #over-hundred {
  color: red;
  font-weight: 600;
}

#correct {
  color: green;
  font-size: larger;
  font-weight: 600;
}
